@import "tailwindcss";

@layer base {
  body {
    @apply bg-blue-100 text-gray-800 font-sans;
  }

  main {
    @apply flex flex-col ;
  }
}

@layer components {

  .card {
    @apply bg-white rounded-3xl shadow-2xl min-h-screen
          w-full max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl
          p-5 flex flex-col gap-2 mx-auto m-2;
  } 

  .search-bar {
    @apply w-full
  }

  .search-bar input {
    @apply w-full px-4 py-3 rounded-xl
          bg-blue-100/40
          focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

  .location-info {
    @apply flex flex-col items-center justify-center text-center my-4;
  }

  .location-text {
    @apply text-2xl font-semibold;
  }

  .date-text {
    @apply text-sm text-gray-400;
  }

  .location-info img {
    @apply w-5 h-5;
  }

  .location-container {
    @apply flex items-center gap-2;
  }

  .temperature-info {
    @apply flex flex-col gap-2 items-center my-4
          bg-blue-500 p-4 rounded-2xl text-white shadow-xl;
  }

  .weather-icon {
    @apply w-20 h-20 my-2;
  }

  .temperature {
    @apply text-5xl font-bold;
  }

  .weather-desc {
    @apply text-xl;
  }

  .feels-like {
    @apply text-sm text-gray-200 mb-4;
  }

  .additional-info {
    @apply flex justify-around w-full my-6;
  }

  .additional-info div {
    @apply flex flex-col items-center gap-1;
  }

  .additional-info div span {
    @apply text-xs;
  }

  .additional-info div p {
    @apply text-lg font-semibold;
  }

  .additional-info div img {
    @apply w-5 h-5;
  }

  .forecast-section {
    @apply flex flex-col gap-2 mt-4;
  }
  
  .forecast-card img {
    @apply w-8 h-8;
  }

  .forecast-cards {
    @apply flex gap-2 overflow-x-auto ;
  }

  .forecast-card {
    @apply flex flex-col justify-between items-center
           p-4 w-24 h-40 shrink-0 rounded-xl;
  }

  /* Chrome, Edge, Safari */
  .forecast-cards::-webkit-scrollbar {
    height: 0;
  }

  /* Firefox */
  .forecast-cards {
    scrollbar-width: none;
  }

}